:root {
  --color-primary: #FFFFFF;
  --color-section: #2F303A;
  --color-text: #212121;
  --color-content: #757575;
  --color-active: #2196F3;
  --color-fon: #f5f4fa;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.limarg {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  background-color: var(--color-active);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow var(--anim-fast);
  transition: -webkit-box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.link.current {
  color: var(--color-active);
}

.vid-logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 0;
  width: 145px;
}

.link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-text);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-active);
}

.background-color {
  background-color: var(--color-primary);
  border-bottom: 1px solid #ececec;
}

.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 92px;
  }
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .site-nav .list + .list {
    margin-left: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .list + .list {
    margin-left: 50px;
  }
}

.links-nav {
  font-weight: 500;
  position: relative;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--color-text);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.links-nav:focus {
  color: var(--color-active);
}
.links-nav:hover {
  color: var(--color-active);
}

.links-nav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  -webkit-transform: translateX(-50%) scale(0.3);
          transform: translateX(-50%) scale(0.3);
  display: block;
  width: 110%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-active);
  opacity: 0;
  -webkit-transition: tranform var(--anim-fast), opacity var(--anim-fast);
  transition: tranform var(--anim-fast), opacity var(--anim-fast);
}

.links-nav:hover::after,
.title-link:focus::after {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  opacity: 1;
}

.activ-line::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 110%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-active);
}

.icons-heder {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-content);
    -webkit-transition: color var(--anim);
    transition: color var(--anim);
  }
  .contacts:hover, .contacts:focus {
    color: var(--color-link);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.contacts-nav {
  display: none;
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts-nav {
    display: block;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav .list + .list {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav .list + .list {
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 0;
  }
}

.bg-color {
  background-color: var(--color-section);
  background-image: linear-gradient rgba(47, 48, 58, 0.4);
}

.bg-fon {
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_sm@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_sm@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-fon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg_sm@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_sm@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .bg-fon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg_md@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_md@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .bg-fon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg_md@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_md@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .bg-fon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg_lg@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_lg@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .bg-fon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg_lg@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_lg@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .bg-fon {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.header-otstyp {
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .header-otstyp {
    padding: 200px 0;
  }
}

.main-title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .main-title {
    width: 696px;
    font-size: 44px;
  }
}

.features {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
    padding-top: 94px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.features__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--color-fon);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__svg {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__svg {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  width: 450px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-content);
}
@media screen and (min-width: 768px) {
  .features__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__item + .activities__item {
  margin-left: 30px;
}

.activities__item {
  position: relative;
}

.activities__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__text {
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-primary);
}

.ul-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section-fon {
  background-color: var(--color-fon);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-fon {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.li-fon {
  background-color: var(--color-primary);
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .li-fon {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .li-fon {
    width: calc((100% - 90px) / 4);
  }
}

.text-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-content);
  margin-bottom: 16px;
}

.text-pd {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #AFB1B8;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.socials-link:hover {
  background-color: var(--color-active);
  color: var(--color-primary);
}

.icons-socials {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  background-color: var(--color-primary);
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast), border var(--anim-fast);
  transition: color var(--anim-fast), border var(--anim-fast);
}
.clients__link:hover {
  color: var(--color-active);
  border: 1px solid var(--color-active);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__svg {
  fill: currentColor;
}

.footer-pd {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-flex {
    gap: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    gap: 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  width: 154px;
  color: var(--color-secondary);
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    width: 145px;
  }
}

.adr {
  display: block;
  margin-bottom: 9px;
}

.adr:nth-child(3n) {
  margin-bottom: 0;
}

.addres {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.addres:focus {
  color: var(--color-active);
}
.addres:hover {
  color: var(--color-active);
}

.acsent-color {
  color: var(--color-primary);
}

@media screen and (min-width: 1200px) {
  .abzacm {
    margin-left: 70px;
  }
}

.abzacp {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer-soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-primary);
  -webkit-transition: background-color var(--anim-fast), color var(--anim-fast);
  transition: background-color var(--anim-fast), color var(--anim-fast);
}
.footer-soc-link:hover {
  background-color: var(--color-active);
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .abzac-margin {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .abzac-margin {
    margin-left: auto;
  }
}

.footer-input-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-input-button {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input-button {
    gap: 12px;
  }
}

.footer-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-content);
  padding: 15px 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.icons-telegram {
  fill: var(--color-primary);
}

.navport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.navport .list + .list {
  margin-left: 8px;
}

.flex-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.hover-cards {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim-fast);
  transition: -webkit-box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.hover-cards:hover {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.foon {
  background-color: var(--color-primary);
}

.abzac-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
}

.abzac {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-content);
}

.info {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.buttons {
  display: inline-block;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--color-fon);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color var(--anim-fast), color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: background-color var(--anim-fast), color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: background-color var(--anim-fast), color var(--anim-fast), box-shadow var(--anim-fast);
  transition: background-color var(--anim-fast), color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.buttons:focus {
  background-color: var(--color-active);
  color: var(--color-primary);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons:hover {
  background-color: var(--color-active);
  color: var(--color-primary);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons:active {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay-card {
  position: relative;
  overflow: hidden;
}

.overlay-port {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.overlay-port-text {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hover-cards:hover .overlay-port {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-fast), visibility var(--anim-fast);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  line-height: normal;
  background-color: var(--color-primary);
  -webkit-transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.5);
          transform: translateX(-50%) translateY(-50%) scale(0.5);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: var(--anim-fast);
  transition: var(--anim-fast);
}
.modal-button:hover, .modal-button:focus {
  fill: var(--color-active);
}

.modal-text {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.modal-form-group {
  display: block;
  position: relative;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-content);
}

.modal-form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline-color var(--anim-fast);
  transition: outline-color var(--anim-fast);
}
.modal-form-field:focus {
  outline-color: var(--color-active);
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.modal-form-field:focus + .modal-form-icon {
  fill: var(--color-active);
}

.modal-form-massage {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline-color var(--anim-fast);
  transition: outline-color var(--anim-fast);
}
.modal-form-massage:focus {
  outline-color: var(--color-active);
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-label-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.38px;
  color: var(--color-content);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-form-agreement-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-text);
  border-radius: 2px;
  -webkit-transition: border-color var(--anim-fast), background-color var(--anim-fast);
  transition: border-color var(--anim-fast), background-color var(--anim-fast);
}

.modal-form-checkbox:checked + .modal-form-agreement-check {
  border-color: var(--color-active);
  background-color: var(--color-active);
  background-image: url("../images/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}

.modal-form-agreement-link {
  text-underline-offset: 3px;
  color: var(--color-active);
}

.modal-form-button {
  width: 200px;
  height: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle-icon {
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}
.menu-toggle-icon:hover, .menu-toggle-icon:hover {
  fill: var(--color-active);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--color-primary);
  z-index: 999;
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.mobile-menu-item + .mobile-menu-item {
  margin-top: 32px;
}

.mobile-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.mobile-menu-link--current {
  color: var(--color-active);
}

.mobile-contacts-item + .mobile-contacts-item {
  margin-top: 32px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-content);
}

.mobile-contacts-link--size-color {
  font-size: 34px;
  color: var(--color-active);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile-socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-socials-item + .mobile-socials-item::before {
  content: "";
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-active);
}/*# sourceMappingURL=main.css.map */