:root {
    --color-primary: #FFFFFF;
    --color-section: #2F303A;
    --color-text: #212121;
    --color-content: #757575;
    --color-active: #2196F3;
    --color-fon: #f5f4fa;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}


/*ytilita*/

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.limarg {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

/*container*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*opis.silki*/

.link {
    text-decoration: none;
    font-style: normal;
}

.link.current {
    color: var(--color-active);
}

/*heder*/

.background-color {
    background-color: var(--color-primary);
    border-bottom: 1px solid #ececec;
}

.flex-header {
    display: flex;
    align-items: center;
}

/*logotip header*/

.vid-logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 0;
    width: 145px;
}

.link-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-text);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-active);
}

/*navigatziy*/

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
}

 .site-nav .list+ .list {
    margin-left: 50px;
 }

.links-nav {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.links-nav:focus {
    color: var(--color-active);
}

.links-nav:hover {
    color: var(--color-active);
}

/*contact header*/

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-content);
}

.contacts:focus {
    color: var(--color-active);
}

.contacts:hover {
    color: var(--color-active);
}

.contacts-nav {
    display: flex;
    margin-left: auto;
}

.contacts-nav .list+.list {
    margin-left: 50px;
}

.contacts-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

/*section 1*/

.bg-color {
    background-color: var(--color-section);
}

.header-otstyp {
    padding: 200px 0;
}

.main-title {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 696px;
     
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-transform: uppercase;
    text-align: center;
}

.button {
    display: block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    background-color: var(--color-active);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*section 2*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.hidden-flex {
    display: flex;
}

.hidden-list{
    width: 270px;
}

.hidden-flex .hidden-list+ .hidden-list {
    margin-left: 30px;
}

.li-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.li-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-content);
}

.no-padding {
    padding-bottom: 0;
}

/*section 3*/

.ti-flex {
    display: flex;
}

.ti-flex .li-flex+ .li-flex {
    margin-left: 30px;
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*section 4*/

.ul-flex {
    display: flex;
}

.ul-flex .lili-flex+ .lili-flex {
    margin-left: 30px;
}

.section-fon {
    background-color: var(--color-fon);
}

.li-fon {
    background-color: var(--color-primary);
    text-align: center;
}

.text-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--color-content);
}

.text-pd {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Footer*/

.footer-pd {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.adr {
    display: block;
    margin-bottom: 9px;
}

.adr:nth-child(3n) {
    margin-bottom: 0;
}

.addres {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.acsent-color {
    color: var(--color-primary);
}

.addres:focus {
    color: var(--color-active);
}

.addres:hover {
    color: var(--color-active);
}

/*portfolio*/

.navport {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.navport .list + .list {
    margin-left: 8px;
    
}

/* conteiner*/

.flex-conteiner {
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}

.flex-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.foon {
    background-color: var(--color-primary);
}

.abzac-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text);
}

.abzac {
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-content);
}

.info {
        padding: 20px 24px;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
}

.buttons {
    display: inline-block;
    padding: 6px 22px;


    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--color-fon);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons:focus {
    background-color: var(--color-active);
    color: var(--color-primary);
}

.buttons:hover {
    background-color: var(--color-active);
    color: var(--color-primary);
}

.buttons:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    ;
}