:root {
    --color-primary: #FFFFFF;
    --color-section: #2F303A;
    --color-text: #212121;
    --color-content: #757575;
    --color-active: #2196F3;
    --color-fon: #f5f4fa;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.link {
    text-decoration: none;
    font-style: normal;
}

.link.current {
    color: var(--color-active);
}

.list {
    list-style-type: none;
}

/*heder*/
/*container*/
.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    
}
.limarg {
    margin-top: 0;
    margin-bottom: 0;
}
.site-nav {
    display: flex;
}
 .site-nav .list {
    outline: 1px solid rgb(216, 59, 59);
  
 }
 .site-nav .list+ .list {
    margin-left: 50px;
 }

.background-color {
    background-color: var(--color-primary);
}

.links-nav {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.link-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-text);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-active);
}

.links-nav:focus {
    color: var(--color-active);
}

.links-nav:hover {
    color: var(--color-active);
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-content);
}

.contacts:focus {
    color: var(--color-active);
}

.contacts:hover {
    color: var(--color-active);
}

.bg-color {
    background-color: var(--color-section);
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-transform: uppercase;
}

.button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    background-color: var(--color-active);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.li-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.li-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-content);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}


.section-fon {
    background-color: var(--color-fon);
}

.li-fon {
    background-color: var(--color-primary);
}
.text-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--color-content);
}

.addres {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.acsent-color {
    color: var(--color-primary);
}

.addres:focus {
    color: var(--color-active);
}

.addres:hover {
    color: var(--color-active);
}

.foon {
    background-color: var(--color-primary);
}

.abzac-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text);
}

.abzac {
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-content);
}

.buttons {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--color-fon);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons:focus {
    background-color: var(--color-active);
    color: var(--color-primary);
}

.buttons:hover {
    background-color: var(--color-active);
    color: var(--color-primary);
}

.buttons:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    ;
}