:root {
    --color-primary: #FFFFFF;
    --color-section: #2F303A;
    --color-text: #212121;
    --color-content: #757575;
    --color-active: #2196F3;
    --color-fon: #f5f4fa;
    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}


/*ytilita*/

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.limarg {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

/*container*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*opis.silki*/

.link {
    text-decoration: none;
    font-style: normal;
}

.link.current {
    color: var(--color-active);
}

/*heder*/

.background-color {
    background-color: var(--color-primary);
    border-bottom: 1px solid #ececec;
}

.flex-header {
    display: flex;
    align-items: center;
}

/*logotip header*/

.vid-logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 0;
    width: 145px;
}

.link-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-text);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-active);
}

/*navigatziy*/

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
}

 .site-nav .list+ .list {
    margin-left: 50px;
 }

.links-nav {
    font-weight: 500;
    position: relative;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition: color var(--anim-fast);
}

.links-nav::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;

    transform: translateX(-50%) scale(0.3);

    display: block;
    width: 110%;
    height: 4px;
    
    border-radius: 2px;

    background-color: var(--color-active);
    opacity: 0;
    transition: tranform var(--anim-fast), opacity var(--anim-fast);
}

.links-nav:hover::after,
.title-link:focus::after {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.activ-line::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;

    transform: translateX(-50%);

    display: block;
    width: 110%;
    height: 4px;
    
    border-radius: 2px;

    background-color: var(--color-active);
}

.links-nav:focus {
    color: var(--color-active);
}

.links-nav:hover {
    color: var(--color-active);
}

/*contact header*/

.icons-heder {
    fill: currentColor;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-content);
    transition: color var(--anim-fast);
}

.contacts:focus {
    color: var(--color-active);
}

.contacts:hover {
    color: var(--color-active);
}

.contacts-nav {
    display: flex;
    margin-left: auto;
}

.contacts-nav .list+.list {
    margin-left: 50px;
}

.contacts-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
}

/*section 1*/

.bg-color {
    background-color: var(--color-section);
    background-image: linear-gradient rgba(47, 48, 58, 0.4);
}

.bg-fon {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header-otstyp {
    padding: 200px 0;
}

.main-title {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 696px;
     
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-transform: uppercase;
    text-align: center;
}

.button {
    display: block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    background-color: var(--color-active);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow var(--anim-fast);
}

.button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*section 2*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.hidden-ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.hidden-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--color-fon);
    margin-bottom: 30px;
    
}

.hidden-flex {
    display: flex;
}

.hidden-list{
    width: 270px;
}

.li-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.li-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-content);
}

.no-padding {
    padding-bottom: 0;
}

/*section 3*/

.ti-flex {
    display: flex;
}

.ti-flex .li-flex+ .li-flex {
    margin-left: 30px;
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.li-flex {
    position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
}

.overlay-text {
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--color-primary);
}

/*section 4*/

.ul-flex {
    display: flex;
}

.ul-flex .lili-flex+ .lili-flex {
    margin-left: 30px;
}

.section-fon {
    background-color: var(--color-fon);
}

.li-fon {
    background-color: var(--color-primary);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--color-content);
    margin-bottom: 16px;
}

.text-pd {
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-item {
    width: 44px;
    height: 44px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #AFB1B8;
    transition: color var(--anim-fast), background-color var(--anim-fast);
}

.socials-link:hover {
    background-color: var(--color-active);
    color: var(--color-primary);
}
.icons-socials {
  fill: currentColor;
}

/*section 5*/

.title-ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.title-li{
    width: 170px;
    height: 92px; 
}

.title-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color var(--anim-fast),border var(--anim-fast);
}

.title-link:hover {
   color: var(--color-active);
   border: 1px solid var(--color-active);
}

.icons-logo {
    fill: currentColor;
}

/*Footer*/

.footer-pd {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-flex {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.adr {
    display: block;
    margin-bottom: 9px;
}

.adr:nth-child(3n) {
    margin-bottom: 0;
}

.addres {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--anim-fast); 
}

.acsent-color {
    color: var(--color-primary);
}

.addres:focus {
    color: var(--color-active);
}

.addres:hover {
    color: var(--color-active);
}

.abzacp {
font-weight: 700;
line-height: 16px;
text-transform: uppercase;
margin-bottom: 20px;

color: var(--color-primary);
}

.footer-soc {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    color: var(--color-primary);
    transition: background-color var(--anim-fast), color var(--anim-fast);
}

.footer-soc-link:hover {
    background-color: var(--color-active);
    color: var(--color-primary);
}

/*portfolio*/



.navport {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.navport .list + .list {
    margin-left: 8px;
    
}

/* conteiner*/

.flex-conteiner {
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}

.hover-cards {
    display: block;
    transition: box-shadow var(--anim-fast);
}

.hover-cards:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.foon {
    background-color: var(--color-primary);
}

.abzac-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text);
}

.abzac {
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-content);
}

.info {
        padding: 20px 24px;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
}

.buttons {
    display: inline-block;
    padding: 6px 22px;


    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--color-fon);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--anim-fast), color var(--anim-fast), box-shadow var(--anim-fast);
}

.buttons:focus {
    background-color: var(--color-active);
    color: var(--color-primary);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons:hover {
    background-color: var(--color-active);
    color: var(--color-primary);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}