.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    background-color: var(--color-primary);
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color var(--anim-fast),border var(--anim-fast);

    &:hover {
        color: var(--color-active);
        border: 1px solid var(--color-active);
     }
     @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients__svg {
    fill: currentColor;
}