.icons-heder {
    fill: currentColor;
}

.contacts {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 8px;
        
        font-weight: 500;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--color-content);

        transition: color var(--anim);

        &:hover,
        &:focus {
            color: var(--color-link);
        }
    }

    @media screen and (min-width: 1200px) {
        gap: 10px;
        padding-top: 32px;
        padding-bottom: 32px;
        
        font-size: 14px;
    }
}


.contacts-nav {
    display: none;

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        display: block;
        margin-left: auto;

        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }
}

.contacts-nav .list+.list {
    @media screen and (min-width: 768px) {
        margin-top: 10px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: 50px;
        margin-bottom: 0;
    }
}
