.features {
    padding-bottom: 60px;
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
        padding-top: 94px;
    }
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--color-fon);
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.features__item {
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features__text {
    width: 450px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-content);

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}