.footer-pd {
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 60px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        gap: 60px;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        gap: 0;
        justify-content: left;
        text-align: left;
        align-items: baseline;
    }
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;

    width: 154px;
    color: var(--color-secondary);
    
    @media screen and (min-width: 1200px) {
        width: 145px;
    }
}

.adr {
    display: block;
    margin-bottom: 9px;
}

.adr:nth-child(3n) {
    margin-bottom: 0;
}

.addres {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--anim-fast); 

    &:focus {
        color: var(--color-active);
    }
    
    &:hover {
        color: var(--color-active);
    }
}

.acsent-color {
    color: var(--color-primary);
}

.abzacm {
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.abzacp {
font-weight: 700;
line-height: 16px;
text-transform: uppercase;
margin-bottom: 20px;

color: var(--color-primary);
}

.footer-soc {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    color: var(--color-primary);
    transition: background-color var(--anim-fast), color var(--anim-fast);

    &:hover {
        background-color: var(--color-active);
        color: var(--color-primary);
    }
}

.abzac-margin {
    @media screen and (min-width: 768px) {
        margin: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.footer-input-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: inline;
    }

    @media screen and (min-width: 1200px) {
        gap: 12px;
    }
}

.footer-input {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-content);
    padding: 15px 16px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.footer-button {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    padding: 10px 28px;

}

.icons-telegram {
    fill: var(--color-primary);
}