.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translateX(-50%) translateY(-50%);
    width: 528px;
    min-height: 581px;
    line-height: normal;
    background-color: var(--color-primary);
    transition: opacity var(--anim-fast), transform var(--anim-fast);
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: var(--anim-fast);

    &:hover,
    &:focus {
    fill: var(--color-active);
}

}

.modal-text {
   display: block;
   text-align: center;
   margin-bottom: 12px;

   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
}

.modal-form-group {
   display: block;
   position: relative;
}

.modal-form-label {
   display: block;
   margin-bottom: 4px;

   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.01em;

   color: var(--color-content);

}

.modal-form-field {
   display: block;
   width: 100%;
   height: 40px;
   padding-left: 42px;
   padding-right: 42px;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   margin-bottom: 10px;
   outline: 1px solid transparent;
   outline-offset: -1px;

   transition: outline-color var(--anim-fast);

    &:focus {
    outline-color: var(--color-active);
}
}

.modal-form-icon {
   position: absolute;
   bottom: 11px;
   left: 12px;

   transition: fill var(--anim-fast);
}

.modal-form-field:focus+.modal-form-icon {
    fill: var(--color-active);
}

.modal-form-massage {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline-color var(--anim-fast);

    &:focus {
        outline-color: var(--color-active);
    }
}

.modal-form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-label-link {
    display: flex;
    gap: 4px;
    margin-bottom: 30px;

    justify-content: center;

}

.modal-form-agreement {
   display: flex;
   gap: 8.38px;

   color: var(--color-content);
   user-select: none;
}


.modal-form-agreement-check {
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid var(--color-text);
    border-radius: 2px;
     
    transition: border-color var(--anim-fast), background-color var(--anim-fast);
}

.modal-form-checkbox:checked+.modal-form-agreement-check {
    border-color: var(--color-active);
    background-color: var(--color-active);
    background-image: url('../images/iconcheck.svg');
    background-size: contain;
    background-origin: border-box;
    background-position: center;
  
}

.modal-form-agreement-link {
    text-underline-offset: 3px;
    color: var(--color-active)

}

.modal-form-button {
   width: 200px;
   height: 50px;
}