:root {
    --color-primary: #FFFFFF;
    --color-section: #2F303A;
    --color-text: #212121;
    --color-content: #757575;
    --color-active: #2196F3;
    --color-fon: #f5f4fa;
    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}